<table class="table">
  <thead>
    <tr>
      <th *ngFor='let header of headers' scope="col">{{ header | uppercase }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let soigneur of soigneurs$ | async'>
      <td *ngFor='let header of headers'>{{ soigneur[header] }}</td>
      <button type="button" class="btn btn-secondary" (click)="voirDetail(soigneur)" data-toggle="modal"
        data-target="#exampleModal">
        Voir le détail
      </button>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Detail</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <p>{{selectedSoigneur.nom}} {{selectedSoigneur.prenom}}</p>
      <img [src]="selectedSoigneur.photoURL" alt="photo" class="photo" />
  </div>
</ng-template>